USE [hospital_management_db]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[Specialization] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](40) NULL,
	[Email] [nvarchar](510) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](40) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[RefreshTokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](510) NOT NULL,
	[PasswordHash] [nvarchar](510) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Departments]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [dbo].[Appointment_Delete]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Appointment_Delete]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;


    DELETE FROM dbo.Appointments
    WHERE Id = @Id;


    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_GetAll]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Appointment_GetAll]
AS
BEGIN
    SET NOCOUNT ON;


    SELECT
        a.Id,

        a.DoctorId,
        a.PatientId,

        CONCAT(d.FirstName, ' ', d.LastName) AS DoctorName,

        CONCAT(p.FirstName, ' ', p.LastName) AS PatientName,

        a.AppointmentDate,

        a.Status,

        a.Notes,

        a.CreatedAt


    FROM dbo.Appointments a


    LEFT JOIN dbo.Doctors d
        ON d.Id = a.DoctorId


    LEFT JOIN dbo.Patients p
        ON p.Id = a.PatientId


    ORDER BY a.AppointmentDate DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_GetByDoctorId]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Appointment_GetByDoctorId]

    @DoctorId INT

AS

BEGIN

    SELECT
        a.Id,
        a.DoctorId,
        a.PatientId,
        p.FirstName + ' ' + p.LastName AS PatientName,
        a.AppointmentDate,
        a.Status,
        a.Notes,
        a.CreatedAt
    FROM Appointments a


    INNER JOIN Patients p ON a.PatientId = p.Id
    WHERE a.DoctorId = @DoctorId
    ORDER BY a.AppointmentDate ASC;


END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_GetByDoctorUserId]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Appointment_GetByDoctorUserId]

    @UserId INT

AS

BEGIN

    SELECT
        a.Id,
        a.DoctorId,
        a.PatientId,
        p.FirstName + ' ' + p.LastName AS PatientName,
        d.FirstName + ' ' + d.LastName AS DoctorName,
        a.AppointmentDate,
        a.Status,
        a.Notes,
        a.CreatedAt
    FROM Appointments a


    INNER JOIN Doctors d ON a.DoctorId = d.Id

    INNER JOIN Patients p ON a.PatientId = p.Id
    WHERE d.UserId = @UserId
    ORDER BY a.AppointmentDate ASC;


END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_GetById]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[Appointment_GetById]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT
        a.Id,
        a.DoctorId,
        a.PatientId,
        CONCAT(d.FirstName, ' ', d.LastName) AS DoctorName,   -- CONCAT treats NULL as an empty string ليش استخدمتها؟
        CONCAT(p.FirstName, ' ', p.LastName) AS PatientName,
        a.AppointmentDate,
        a.Status,
        a.Notes,
        a.CreatedAt
    FROM dbo.Appointments a


    LEFT JOIN dbo.Doctors d ON d.Id = a.DoctorId

    LEFT JOIN dbo.Patients p ON p.Id = a.PatientId
    WHERE a.Id = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_Update]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Appointment_Update]
(
    @Id INT,
    @PatientId INT,
    @DoctorId INT,
    @AppointmentDate DATETIME,
    @Status NVARCHAR(50),
    @Notes NVARCHAR(MAX)
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE dbo.Appointments
    SET
        PatientId = @PatientId,
        DoctorId = @DoctorId,
        AppointmentDate = @AppointmentDate,
        Status = @Status,
        Notes = @Notes

    WHERE Id = @Id;


    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[CreateDoctor]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateDoctor]
(
    @Username NVARCHAR(100),
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(100),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Specialization NVARCHAR(100),
    @DepartmentId INT,
    @PhoneNumber NVARCHAR(40),
    @Address NVARCHAR(500)
)

AS
BEGIN
    
    SET NOCOUNT ON;
    BEGIN TRY
    BEGIN TRANSACTION;

        DECLARE @UserId INT;
        DECLARE @DoctorId INT;

INSERT INTO Users(Username,Email,PasswordHash,RoleId,IsActive,CreatedAt)  -- User بدي بالاول اضيف على جدول
VALUES(@Username,@Email,@PasswordHash,2,1,GETUTCDATE());

        SET @UserId = SCOPE_IDENTITY();

INSERT INTO Doctors
(UserId,DepartmentId,FirstName,LastName,Specialization,PhoneNumber,Email,Address,CreatedAt)
VALUES(@UserId,@DepartmentId,@FirstName,@LastName,@Specialization,@PhoneNumber,@Email,@Address,GETUTCDATE());

        SET @DoctorId = SCOPE_IDENTITY();

        COMMIT TRANSACTION
        SELECT @DoctorId AS DoctorId;
    
END TRY

BEGIN CATCH
            
            IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        THROW;
    END CATCH

END;


SELECT * FROM Users
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_GetStatistics]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dashboard_GetStatistics]

AS
BEGIN

    SELECT

        COUNT(DISTINCT d.Id) AS Doctors,

        (SELECT COUNT(*) FROM Patients) AS Patients,

        (SELECT COUNT(*) FROM Departments) AS Departments,

        (SELECT COUNT(*) FROM Appointments) AS Appointments

    FROM Doctors d;

END
GO
/****** Object:  StoredProcedure [dbo].[Department_Create]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Department_Create]
(
    @DepartmentName NVARCHAR(200)
)

AS
BEGIN
    
    SET NOCOUNT ON;


    INSERT INTO dbo.Departments(DepartmentName)
    VALUES(@DepartmentName);
    
    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[Department_Delete]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Department_Delete]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;


    DELETE FROM dbo.Departments
    WHERE Id = @Id;


    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[Department_GetAll]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Department_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,DepartmentName AS Name
    FROM dbo.Departments
    ORDER BY Id ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[Department_GetById]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Department_GetById]

    @Id INT

AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Id,DepartmentName
    FROM dbo.Departments
    WHERE Id = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Department_Update]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Department_Update]

    @Id INT,
    @DepartmentName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Departments
    SET DepartmentName = @DepartmentName
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Delete]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_Delete]

    @Id INT

AS
BEGIN
    
    SET NOCOUNT ON;
    BEGIN TRY
    BEGIN TRANSACTION;


        DECLARE @UserId INT;

        SELECT @UserId = UserId
        FROM dbo.Doctors
        WHERE Id = @Id;


IF @UserId IS NULL
        BEGIN
        ROLLBACK TRANSACTION;

            SELECT 0;
            RETURN;
        END


        DELETE FROM dbo.Doctors
        WHERE Id = @Id;


        DELETE FROM dbo.Users
        WHERE [UserId] = @UserId;


        COMMIT TRANSACTION;

        SELECT 1;


    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_GetAll]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,UserId,DepartmentId,FirstName,LastName,Specialization,PhoneNumber,Email,Address,CreatedAt
    FROM dbo.Doctors
    ORDER BY Id DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_GetById]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_GetById]

    @Id INT

AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,FirstName,LastName,Specialization,PhoneNumber,Email
    FROM dbo.Doctors
    WHERE Id = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_GetByUserId]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_GetByUserId]

    @UserId INT

AS

BEGIN


SELECT
    d.Id,
    d.UserId,
    d.DepartmentId,
    d.FirstName,
    d.LastName,
    d.Specialization,
    d.PhoneNumber,
    d.Email,
    d.Address,
    dep.DepartmentName AS DepartmentName
    FROM Doctors d

LEFT JOIN Departments dep
ON d.DepartmentId = dep.Id
WHERE d.UserId = @UserId;


END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Search]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_Search]

    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT
        d.Id,
        d.UserId,
        d.DepartmentId,
        d.FirstName,
        d.LastName,
        d.Specialization,
        d.PhoneNumber,
        d.Email,
        d.Address,
        d.CreatedAt,
        dep.DepartmentName AS DepartmentName,
        u.Username
        FROM dbo.Doctors d


    LEFT JOIN dbo.Departments dep
        ON dep.Id = d.DepartmentId


    LEFT JOIN dbo.Users u
        ON u.UserId = d.UserId


    WHERE
        d.FirstName LIKE '%' + @SearchTerm + '%'
        OR d.LastName LIKE '%' + @SearchTerm + '%'
        OR d.Specialization LIKE '%' + @SearchTerm + '%'
        OR d.PhoneNumber LIKE '%' + @SearchTerm + '%'
        OR d.Email LIKE '%' + @SearchTerm + '%'
        OR dep.DepartmentName LIKE '%' + @SearchTerm + '%'


    ORDER BY d.Id DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Update]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Doctor_Update]

    @Id INT,
    @FirstName NVARCHAR(200),
    @LastName NVARCHAR(200),
    @Specialization NVARCHAR(200),
    @PhoneNumber NVARCHAR(40),
    @Email NVARCHAR(510)

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Doctors
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Specialization = @Specialization,
        PhoneNumber = @PhoneNumber,
        Email = @Email
        WHERE Id = @Id;

    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientsPaged]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPatientsPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchTerm NVARCHAR(100) = NULL,
    @Gender NVARCHAR(20) = NULL,
    @SortColumn NVARCHAR(50) = 'Id'
)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT *
    FROM Patients

    WHERE
        (@SearchTerm IS NULL
        OR FirstName LIKE '%' + @SearchTerm + '%'
        OR LastName LIKE '%' + @SearchTerm + '%'
        OR Email LIKE '%' + @SearchTerm + '%')

    AND

        (@Gender IS NULL
        OR Gender = @Gender)


    ORDER BY
        CASE WHEN @SortColumn = 'FirstName' THEN FirstName END,
        CASE WHEN @SortColumn = 'LastName' THEN LastName END,
        CASE WHEN @SortColumn = 'CreatedAt' THEN CreatedAt END,
        Id DESC


    OFFSET (@PageNumber - 1) * @PageSize ROWS

    FETCH NEXT @PageSize ROWS ONLY;



    SELECT COUNT(*)
    FROM Patients

    WHERE
        (@SearchTerm IS NULL
        OR FirstName LIKE '%' + @SearchTerm + '%'
        OR LastName LIKE '%' + @SearchTerm + '%'
        OR Email LIKE '%' + @SearchTerm + '%')

    AND

        (@Gender IS NULL
        OR Gender = @Gender);

END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Delete]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Patient_Delete]

    @Id INT

AS
BEGIN
    SET NOCOUNT ON;

    DELETE
    FROM Patients
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_GetAll]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Patient_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        FirstName,
        LastName,
        DateOfBirth,
        Gender,
        PhoneNumber,
        Email,
        Address,
        CreatedAt
    FROM Patients
    ORDER BY Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_GetById]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Patient_GetById]

    @Id INT

AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        Id,
        FirstName,
        LastName,
        DateOfBirth,
        Gender,
        PhoneNumber,
        Email,
        Address,
        CreatedAt
    FROM Patients
    WHERE Id = @Id;


END
GO
/****** Object:  StoredProcedure [dbo].[Patient_GetHistory]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Patient_GetHistory]

@PatientId INT

AS
BEGIN


    SELECT a.Id AS AppointmentId,
           a.AppointmentDate,
           a.Status,
           a.Notes,
           p.FirstName + ' ' + p.LastName AS PatientName,
           d.FirstName + ' ' + d.LastName AS DoctorName
           FROM Appointments a

INNER JOIN Patients p ON a.PatientId = p.Id
INNER JOIN Doctors d ON a.DoctorId = d.Id

WHERE p.Id = @PatientId
ORDER BY a.AppointmentDate DESC;


END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Update]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Patient_Update]
(
    @Id INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @DateOfBirth DATE,
    @Gender NVARCHAR(20),
    @PhoneNumber NVARCHAR(50),
    @Email NVARCHAR(255),
    @Address NVARCHAR(500)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Patients
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        DateOfBirth = @DateOfBirth,
        Gender = @Gender,
        PhoneNumber = @PhoneNumber,
        Email = @Email,
        Address = @Address
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[RefreshToken_Create]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RefreshToken_Create]
(
    @UserId INT,
    @Token NVARCHAR(500),
    @ExpiryDate DATETIME2,
    @IsRevoked BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.RefreshTokens
    (
        UserId,
        Token,
        ExpiryDate,
        CreatedAt,
        IsRevoked
    )
    VALUES
    (
        @UserId,
        @Token,
        @ExpiryDate,
        GETUTCDATE(),
        @IsRevoked
    );
END
GO
/****** Object:  StoredProcedure [dbo].[RefreshToken_GetByToken]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RefreshToken_GetByToken]
(
    @Token NVARCHAR(500)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        RefreshTokenId AS Id,
        UserId,
        Token,
        ExpiryDate,
        CreatedAt,
        IsRevoked
    FROM dbo.RefreshTokens
    WHERE Token = @Token;
END
GO
/****** Object:  StoredProcedure [dbo].[RefreshToken_Revoke]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RefreshToken_Revoke]
(
    @Token NVARCHAR(500)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.RefreshTokens
    SET IsRevoked = 1
    WHERE Token = @Token;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BookAppointment]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BookAppointment]

    @DoctorId INT,
    @PatientId INT,
    @AppointmentDate DATETIME,
    @Notes NVARCHAR(MAX)

AS

BEGIN

    SET NOCOUNT ON;
    BEGIN TRY
    BEGIN TRANSACTION;


        IF NOT EXISTS ( SELECT 1 FROM Patients WHERE Id = @PatientId)

        BEGIN
            THROW 50001, 'Patient does not exist', 1;
        END

IF NOT EXISTS(SELECT 1 FROM Doctors WHERE Id = @DoctorId)

        BEGIN
            THROW 50002,'Doctor does not exist', 1;
        END

        IF EXISTS( SELECT 1 FROM Appointments WITH (UPDLOCK,HOLDLOCK) WHERE DoctorId = @DoctorId AND AppointmentDate = @AppointmentDate AND Status <> 'Cancelled')


        BEGIN
            THROW 50003,'Doctor already has an appointment at this time',1;
        END


INSERT INTO Appointments(DoctorId,PatientId,AppointmentDate,Status,Notes,CreatedAt)
VALUES(@DoctorId,@PatientId,@AppointmentDate,'Scheduled',@Notes,GETDATE());

        COMMIT TRANSACTION;
        SELECT SCOPE_IDENTITY() AS AppointmentId;

END TRY

BEGIN CATCH


        IF @@TRANCOUNT > 0  ROLLBACK TRANSACTION;


        THROW;


    END CATCH


END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePatient]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreatePatient]
(
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @DateOfBirth DATE,
    @Gender NVARCHAR(20),
    @PhoneNumber NVARCHAR(50),
    @Email NVARCHAR(255),
    @Address NVARCHAR(500)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Patients
    (
        FirstName,
        LastName,
        DateOfBirth,
        Gender,
        PhoneNumber,
        Email,
        Address
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @DateOfBirth,
        @Gender,
        @PhoneNumber,
        @Email,
        @Address
    );


    SELECT CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPatients]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SearchPatients]
(
    @SearchTerm NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        FirstName,
        LastName,
        DateOfBirth,
        Gender,
        PhoneNumber,
        Email,
        Address
    FROM Patients
    WHERE FirstName LIKE '%' + @SearchTerm + '%'
       OR LastName LIKE '%' + @SearchTerm + '%'
       OR Email LIKE '%' + @SearchTerm + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAppointmentByDoctor]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAppointmentByDoctor]

    @Id INT,
    @DoctorId INT,
    @Status NVARCHAR(50),
    @Notes NVARCHAR(MAX)

AS

BEGIN

    SET NOCOUNT ON;


    UPDATE Appointments

    SET
        Status = @Status,
        Notes = @Notes

    WHERE Id = @Id
    AND DoctorId = @DoctorId;


    SELECT @@ROWCOUNT;

END
GO
/****** Object:  StoredProcedure [dbo].[User_Create]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[User_Create]
(
    @Username NVARCHAR(200),
    @Email NVARCHAR(510),
    @PasswordHash NVARCHAR(510),
    @RoleId INT
)
AS
BEGIN
    SET NOCOUNT ON;


    IF EXISTS ( SELECT 1 FROM Users WHERE Email = @Email )
    
    BEGIN
        THROW 50001, 'Email already exists', 1;
    END


INSERT INTO Users (Username,Email,PasswordHash,RoleId,IsActive,CreatedAt)
VALUES ( @Username,@Email,@PasswordHash,@RoleId,1,GETUTCDATE());


    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[User_GetByEmail]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[User_GetByEmail]
(
    @Email NVARCHAR(510)
)
AS
BEGIN
    SET NOCOUNT ON;

  SELECT
    u.UserId,
    u.Username,
    u.Email,
    u.PasswordHash,
    u.RoleId,
    r.RoleName,
    u.FailedLoginAttempts,
    u.LockoutEnd
FROM Users u
INNER JOIN Roles r ON r.RoleId = u.RoleId
WHERE u.Email = @Email;

END
GO
/****** Object:  StoredProcedure [dbo].[User_GetById]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[User_GetById]
(
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT
        UserId,
        Username,
        Email,
        RoleId

    FROM dbo.Users

    WHERE UserId = @UserId;

END
GO
/****** Object:  StoredProcedure [dbo].[User_LoginFailed]    Script Date: 8/16/2026 9:10:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_LoginFailed]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET
        FailedLoginAttempts = FailedLoginAttempts + 1,
        LockoutEnd =
            CASE
                WHEN FailedLoginAttempts + 1 >= 5
                    THEN DATEADD(MINUTE, 15, GETUTCDATE())
                ELSE LockoutEnd
            END
    WHERE UserId = @UserId;
END;
GO
